/* Utility Container */
.p-50 {
	padding: 30px 0;
}

/* Navbar */
.navbar .container {
	flex-direction: column;
}

.navbar ul {
	flex-direction: column;
	text-align: center;
}

.navbar ul li {
	padding: 6px 0;
}

/* Showcase */
#showcase {
	padding: 100px 0;
}

#showcase h1 {
	font-weight: 500;
}

#showcase p {
	padding: 40px 0;
	width: 80%;
	margin: 0 auto;
}

/* Fees */
#fees {
	text-align: center;
	padding-bottom: 40px;
}

/* Mentoring */
#mentoring,
#services,
#fees {
	padding-bottom: 50px;
}

#mentoring,
#services,
#fees,
#advisory,
#about,
#boolean,
#thank-you,
#booklist {
	text-align: center;
}

/* BGM */
#bgm {
	text-align: center;
}

#bgm img {
	max-width: 100%;
}

.bgm-flex-container {
	padding: 20px 0;
}

.bgm-flex {
	flex-direction: column;
}

.bgm-flex-box {
	padding-top: 0;
}

/* Navbar Internal */
.d-flex {
	justify-content: center;
}